.title_label {
  color: #ffbd59;
  font-family: 'Courier New', Courier, monospace;
  font-size: 3em;
  font-weight: bold;
  margin-right: 10px;
}

.title_icon {
  font-size: 50px;
  color: #5186cd;
}

.subtitle_label {
    font-size: 2em !important;
    color:#5186cd;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;

}
body{
  margin: 0;
}

.title_page_label{
  color: #ffbd59;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2em;
  font-weight: bold;
  margin-top: auto;
  margin-bottom: auto;
  vertical-align: middle;
  margin-left: 10px;
}

.container_home {
  margin-top: 5px;
  width: 100%;
}

.container_header {
  width: 100%;
  min-height: 60px;
  padding: 5px;
  margin: auto;
  display: flex;
  background-color: white;
  border-radius: 10px;
}

.container_body {
  margin-top: 10px;
  width: 100%;
  background-color: transparent;
  border-radius: 10px;
}